*{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Topbar{
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
}
.searchBtn{
  background: #8AE0AA;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px ;
}
a{
  text-decoration: none;
}
.searchBtn:hover{
  background: #609C76;
  transition: 0.2s;
}
p{
  text-align: center;
}
.topbarRight{
  display: flex;
  align-items: center;
}
.avantage strong{
  text-align: center;
  font-size: 25px;
}
.circleadvantage{
  width: 160px;
  height: 160px;
  padding: 20px; 
  border-radius: 50%;
  background: #8AE0AA; 
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  height: fit-content;
  width: 100vw;
  background-image: url('./assets/bgheader.png');
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
}
html{overflow-x: hidden;
}
.headerContent{
  width: 100%;
  height: 100%;
  padding-bottom: 12vw;

  background: rgba(0, 0, 0, 0.502);
  color: white;
}
.avantages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 85vw;
  height: fit-content;
  margin: 40px auto;
}
.avantage{
width: 15vw;
height: fit-content;
margin: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
p{
  text-align:center
}
h1{
  padding-top: 7%;
  padding-bottom: 4%;
  margin-top: 0;
  font-size: 60px;
width: 70%;
margin: auto;
}
.inputsearch{
  border: none;
  outline: none;
  padding-left: 5%;
  width: 90%;
  font-size: 25px;
  background: transparent;

}
.searchbox{
  width: 70%;
  height: 5vw;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  margin: auto;
}
@media (max-width:900px){
   .avantages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85vw;
    margin: 25px auto;
  }
  .avantage{
    width: 38vw;
    height: fit-content;
    margin: auto;
    } 
  h1{
    padding-top: 13%;
    margin-top: 0;
    margin-bottom: 2vw;
    font-size: 29px;
    width: 90%;
  }
  .header{
    height: fit-content;
    width: 100vw;
    background-image: url('./assets/bgheader.png');
    background-position: center;
  }
  .headerContent{
    padding-bottom: 20vw;
  }
  .avantage strong{
    text-align: center;
    font-size: 20px;
  }
  p{
    margin-top: 5px;
  }
  .searchbox{
    width: 80%;
    height: 5vw;
    background: rgb(255, 255, 255);
  }
  .inputsearch{
    border: none;
    outline: none;
    padding-left: 5%;
    width: 85%;
    font-size: 13px;
    background: transparent;
  
  }
  .none{
    display: none;
  }
  .circleadvantage{
    width: fit-content;
    height: fit-content;
    padding: 20px; 
    border-radius: 50%;
    background: #8AE0AA; 
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBtn{
    background: #8AE0AA;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
  }
  .searchBtn:hover{
    background: #609C76;
  }
}
